<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553503194545-tiqehnd8kmt90rbnprfcv77ehiln29if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553503194545-tiqehnd8kmt90rbnprfcv77ehiln29if</string>
	<key>API_KEY</key>
	<string>AIzaSyAeniXZ_vJIpE2HS7JLv6-o_w1_tPiAG_s</string>
	<key>GCM_SENDER_ID</key>
	<string>553503194545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventuallyVendor</string>
	<key>PROJECT_ID</key>
	<string>eventually-vendor</string>
	<key>STORAGE_BUCKET</key>
	<string>eventually-vendor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553503194545:ios:1f4a1df9562835a5ff1190</string>
</dict>
</plist>